*.psd filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
Workshop47/Assets/Workshop47/Settings/Worlds/*.asset filter=lfs diff=lfs merge=lfs -text
